In [1]:
import pandas as pd

In [2]:
#declare first series
first_series = pd.Series([1,2,3,4,5], index=['a', 'b' ,'c', 'd', 'e'])

In [3]:
#declare second series
second_series = pd.Series([10, 20, 30, 40, 50], index=['c', 'e', 'f', 'g', 'h'])

In [5]:
sum_of_series = first_series + second_series
sum_of_series

a     NaN
b     NaN
c    13.0
d     NaN
e    25.0
f     NaN
g     NaN
h     NaN
dtype: float64

In [6]:
#drop NaN(Not a number) values from dataset
dropna_s = sum_of_series.dropna()

In [7]:
dropna_s

c    13.0
e    25.0
dtype: float64

In [8]:
dropna_s.fillna(0)

c    13.0
e    25.0
dtype: float64

In [9]:
#Fill Nan values with Zeroes(0)
fillna_s = sum_of_series.fillna(0)
fillna_s

a     0.0
b     0.0
c    13.0
d     0.0
e    25.0
f     0.0
g     0.0
h     0.0
dtype: float64

In [10]:
#fill values with zeroes before performing addition operation for missing indices
fill_NaN_with_zeros_before_sum = first_series.add(second_series, fill_value=0)
fill_NaN_with_zeros_before_sum

a     1.0
b     2.0
c    13.0
d     4.0
e    25.0
f    30.0
g    40.0
h    50.0
dtype: float64